body {
  font-family: "Poppins", sans-serif !important;
  background-color: #181818 !important;
  background-repeat: no-repeat;
}
.carousel-caption {
  position: absolute;
  width: 60%;
  left: 0 !important;
  top: 30%;
  margin-left: 10%;
  text-align: left !important;
  color: white;
  font-size: 14px;
}

.carousel-item .carousel-caption .btn {
  border-radius: 3px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.carousel-item .carousel-caption p {
  margin-top: 2px;
}

.carousel-item .carousel-caption .btn-watch {
  background-color: #c50808;
}

.carousel-caption h5 {
  font-weight: bold;
  font-size: 40px;
}

.carousel-item .img-carousel {
  filter: brightness(50%);
}

.nav-item a {
  font-size: 14px;
}
.navbar {
  transition: all 0.3s;
}
.navbar img {
  margin-top: 9px;
}
.navbar button {
  margin-top: 8px;
}

.scrolled-nav {
  background-color: #181818;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-wrapper .nav-list h6 {
  font-size: 14px;
  font-weight: 600;
}

.nav-wrapper .nav-list .hovernav h6:hover {
  color: red;
  transition: 0.5s;
}

.garis {
  height: 2px;
  color: white;
  margin-top: 0vmin;
}

.btn-wrappershowmore .btn-rowshowmore .btn-colshowmore .btn-showmore {
  background-color: #c50808;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
}

.kontainerbox {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin-top: 20px;
  padding: 1rem;
}

.box {
  min-height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-list {
  width: 185px;
  object-fit: cover;
  height: 100%;
  max-height: 280px;
  border-radius: 5px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding-left: 20px;
  padding-bottom: 0.5px;
  z-index: 2;
}

.content h3 {
  font-size: 14px;
  font-weight: 600;
}

.content p {
  font-size: 10px;
}

.overlay {
  position: absolute;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100px;
  width: 185px;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 640px) {
  .kontainerbox {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) {
  .box {
    height: 270px;
  }
  .kontainerbox {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 3;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    height: 190px;
  }

  .kontainerbox {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .nav-item {
    padding-left: 20px;
  }
}

@media screen and (max-width: 766px) {
  .carousel-caption button  {
    display: none;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-caption h5 {
    margin-left: 20px;
    font-size: 24px;
  }
}
