body {
  font-family: "Poppins", sans-serif;
  background-image: url(Assets/Image/foto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar button {
  margin-top: 8px;
}

.navbar img {
  margin-top: 9px;
}

.nav-item a {
  font-size: 14px;
}

p {
  font-size: 22px;
  color: white;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text-wrapper h1 {
  font-size: 52px;
  line-height: 90px;
  font-weight: bold;
}

.text-wrapper p {
  line-height: 20px;
}

.btn-wrapper {
  width: 230px;
  height: 40px;
  font-weight: 800;
}

.text-wrapper .btn-wrapper {
  border: none;
}

@media screen and (min-width: 992px) {
  .nav-item {
    padding-left: 20px;
  }
  .navkonten {
    color: black;
  }
}
