body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Assets/Image/foto2.jpg);
  background-color: #181818 !important;
  font-family: "Poppins", sans-serif !important;
}

.navbar img {
  margin-top: 9px;
}
.title h3 {
  font-size: 26px;
  margin-bottom: 8px;
}
.kontainer {
  border-radius: 3px;
  padding: 25px;
  background-color: #181818;
}
.kontainer .or  {
  margin-top: 15px;
  font-size: 12px
}
.field {
  border: none;
  margin-top: 10px;
}
.submit {
  margin-top: 10px;
  text-align: center;
}
.field input {
  color: white;
  width: 300px;
  border-radius: 3px;
  height: 35px;
  border: 1px white;
  background-color: #2e2d2d;
}
.submit input {
  color: white;
  border-radius: 3px;
  height: 35px;
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  border: none;
  background-color: red;
}
.submit input:hover {
  transition: 0.3s;
  background-color: rgb(244, 88, 88);
}
input[type="email"] {
  font-size: 12px;
}
input[type="password"] {
  padding-left: 5px !important;
  font-size: 12px;
}
.field ::placeholder {
  padding-left: 5px;
  font-size: 12px;
}
.field input:focus {
  outline: none;
}
.field input:hover {
  transition: 0.3s;
  background-color: rgb(62, 61, 61);
}
.title h3 {
  padding-bottom: 5px;
  text-align: center;
  color: white;
}
.create p {
  padding-top: 6px;
  text-align: center;
  font-size: 12px !important;
  text-decoration: none;
  color: white;
}
.kontainer p {
  font-size: 14px;
  margin-top: 10px;
  color: white;
  text-align: center;
}
.google {
  border-radius: 3px;
  height: 40px;
  background-color: #2e2d2d;
}
.google img {
  margin-right: 1px;
  margin-top: 10px;
  height: 20px;
}
.googletext {
  justify-content: center;
  display: flex;
}
.googletext p {
  font-size: 14px;
}
.create a {
  text-decoration: none;
}
